#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

source = $(shell dpkg-parsechangelog | grep "^Source:" | sed 's/Source: //')
# some default definitions, important!
#
# Name of the source package
#psource := $(source)-source
pdkms   := $(source)-dkms
sname   := $(source)
sversion:=$(shell dpkg-parsechangelog|grep "^Version:"|cut -d" " -f2|rev|cut -d- -f2-|rev|cut -d':' -f2)

### KERNEL SETUP

# prefix of the target package name
PACKAGE = $pdkms
### end  KERNEL SETUP

build: patch

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Create the directories to install the source into
	dh_installdirs -p$(pdkms)  usr/src/$(sname)-$(sversion)
	cp -a Makefile include drivers debian/$(pdkms)/usr/src/$(sname)-$(sversion)
	# Prepare dkms.conf from the dkms.conf.in template
	sed "s/__VERSION__/$(sversion)/g" debian/dkms.conf.in > debian/$(pdkms)/usr/src/$(sname)-$(sversion)/dkms.conf
	dh_install

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_install
	dh_modaliases
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
