#!/usr/bin/make -f

PACKAGE_NAME=$(shell grep PACKAGE_NAME= debian/dkms.conf | cut -d= -f2 | cut -d\" -f2)
PACKAGE_VERSION=$(shell grep PACKAGE_VERSION= debian/dkms.conf | cut -d= -f2 | cut -d\" -f2)
export PACKAGE_NAME PACKAGE_VERSION

%:
	dh $@ --with dkms

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_install:


DRM_FILES=Kconfig Makefile ati_pcigart.c drm_* amd i2c bridge i915 nouveau panel radeon scheduler ttm

sync-kernel:
	for i in $(DRM_FILES); do \
	    git rm -rf drivers/gpu/drm/$$i; \
	done
	git rm -rf include/drm include/uapi/drm

	for i in $(DRM_FILES); do \
	    cp -r ../linux.git/drivers/gpu/drm/$$i drivers/gpu/drm; \
	done
	cp ../linux.git/drivers/platform/x86/intel_ips* drivers/platform/x86
	cp -r ../linux.git/include/drm include
	cp -r ../linux.git/include/uapi/drm include/uapi
	git add drivers/ include
